.ticketContainer {
	background: #FFFFFF;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: 1px solid #4a4a4a30;
}

.price {
	font-size: 2em;
	font-weight: 600;
	color: #2196F3;
}

.thither {
	margin-bottom: 1rem;
}

.direction,
.durationTitle,
.stopsCount {
	letter-spacing: 0.5px;
	color: #A0B0B9;
}

.durationValue {
	text-transform: none;
}

.departureTime,
.arrivalTime,
.durationValue,
.stops {
	font-size: 1.2em;
}
