@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 800px;
	}
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color: #4A4A4A;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

button:focus,
input:focus {
	outline: none;
}

button {
	background-color: #FFFFFF;
	text-transform: uppercase;
	border: none;
	transition: 100ms;
	font-weight: 600;
	letter-spacing: 1px;
}

button:disabled {
	opacity: 0.5;
	border: none;
}
